services:
  hatchery:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    command: sh -c "rm -f /tmp/nitro/*.sock && npm run dev"
    volumes:
      - .:/src
      - node_modules:/src/node_modules
      - caches:/cache
      - ./resources/fonts:/usr/share/fonts/
    ports:
      - 3000:3000
    env_file:
      - .env
    networks:
      - internal

  db:
    image: mariadb:10
    tty: true
    volumes:
      - dbdata:/var/lib/mysql
    env_file:
      - .env
    ports:
      - 3306:3306
    networks:
      - internal

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - internal

volumes:
  dbdata:
  node_modules:
  caches:

networks:
  internal:
