services:
  hatchery:
    build:
      context: .
    command: node .output/server/index.mjs
    env_file:
      - .env
    volumes:
      - caches:/cache
    depends_on:
      - db
    healthcheck:
      test: 'curl -f http://localhost:3000/dc/hatchery/ || exit 1'
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 60s
    labels:
      autoheal: true
    ports:
      - 3001:3000
    networks:
      - internal
      #- dragcave

  db:
    image: mariadb:10
    tty: true
    volumes:
      - dbdata:/var/lib/mysql
    env_file:
      - .env
    networks:
      - internal
    ports:
      - 55555:3306

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - internal

  autoheal:
    deploy:
      replicas: 1
    environment:
      AUTOHEAL_INTERVAL: 60
      AUTOHEAL_START_PERIOD: 300
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: 10
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  dbdata:
  caches:

networks:
  internal:
  #dragcave:
  #external: true
