services:
  hatchery:
    build:
      context: .
    command: node .output/server/index.mjs
    env_file:
      - .env
    depends_on:
      - db
    healthcheck:
      test: 'curl -f http://localhost:3000/dc/hatchery/api/healthcheck || exit 1'
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
    labels:
      autoheal: true
    networks:
      - internal
      - dragcave

  db:
    image: mariadb:10
    tty: true
    volumes:
      - dbdata:/var/lib/mysql
    env_file:
      - .env
    networks:
      - internal

  autoheal:
    deploy:
      replicas: 1
    environment:
      AUTOHEAL_INTERVAL: 60
      AUTOHEAL_START_PERIOD: 300
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: 10
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  dbdata:

networks:
  internal:
  dragcave:
    external: true
