@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply min-h-full flex text-white dark:text-stone-200;
}

#__nuxt {
  @apply flex-1 flex flex-col items-center bg-green-800 dark:bg-neutral-950;
}

button {
  @apply py-2 px-4 rounded-md dark:shadow-[inset_0px_0px_6px_-3px_#000];

  & svg {
    @apply mr-1.5;
  }

  &.btn-primary {
    @apply bg-orange-200 text-black dark:bg-sky-900 dark:text-white;
  }

  &.btn-secondary {
    @apply bg-emerald-500 dark:bg-rose-900 dark:text-white;
  }

  &.btn-danger {
    @apply bg-red-500 dark:bg-red-900 dark:text-white;
  }

  &[class*='btn-'] {
    @apply min-w-32;
  }
}

.mint button.btn-primary {
  @apply text-black dark:text-white;
}

input:invalid {
  @apply ring-4 ring-red-500;
}

select,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='color'],
textarea {
  @apply text-black p-2 rounded-md shadow-[inset_0px_0px_7px_-3px_#000];
}

input[type='checkbox'] {
  @apply overflow-hidden size-6 rounded-full border-[3px] appearance-none bg-green-800 border-green-400 dark:bg-neutral-900 dark:border-neutral-700 checked:bg-yellow-400 dark:checked:bg-sky-900;
}

[disabled] {
  @apply cursor-not-allowed opacity-40;
}

option {
  @apply text-black;
}

a {
  @apply underline underline-offset-4 text-yellow-300 dark:text-sky-500;
}

h1,
h2 {
  @apply font-bold;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

abbr {
  @apply decoration-dotted underline-offset-4 decoration-white;
}
