name: Tests

on: [push]

jobs:
  code-quality-and-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: try to build the project
        run: npm i && npm run build

      - name: run prettier checks
        run: npm run fmt:check

      - name: run linting
        run: npm run lint

      - name: run typescript checks
        run: npm run ts:check

      - name: copy .env.example to .env
        run: cp .env.example .env

      - name: start testing stack
        run: docker compose up -d testapp

      # - name: run vitest:unit
      # run: docker compose exec -T testapp sh -c "npm run test -- --run --project unit"

      - name: run vitest:nuxt
        run: docker compose exec -T testapp sh -c "npm run test -- --run --project nuxt"

      - name: run vitest:e2e
        run: docker compose exec -T testapp sh -c "npm run test -- --run --project e2e"
